* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blackSlider {
  position: absolute;

  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  background-color: lightblue;
  z-index: -1;
}

section {
  display: flex;
  margin-top: 10px;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 0%;
  width: 100%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.identity img {
  width: 100%;
}

.identity {
  z-index: 1;
}

.profile img {
  width: 35%;
}
